/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#controlWrapper{
  width: 64px;
  height: 32px;
  margin: 5px;
}

#zoomInButton{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  text-align: center;
}

#zoomOutButton{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  text-align: center;
}