/* FIRST THREE STYLES SLIDE MENU*/

#play {
    background-color: lightblue;
    background-image: url("./photos/piratecard.jpg");
    height: 100%;
}

#map {
    background-color: limegreen;
    height: 100%;
}

#settings {
    background-color: lightcoral;
    height: 100%;
}




#playcard {
    text-align: center;
    background-color: lightblue;
    background-image: url("./photos/piratecard.jpg");
    background-size: cover;
    height: 100%;
}


#header{
    background-color: limegreen;
    font-style: oblique;
    font-weight: 300;
    }

li{
    font-size: 30px;
}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cardtext {
    font-style: bold;
    font-weight: bold;
    margin-left: 10%;
    width: 80%;
}


.play {
    background-image: url("./photos/piratecard.jpg");
}