/* FIRST THREE STYLES SLIDE MENU*/

#sign-in {
  background-color: black;
  color: beige;
  height: 100%;
}

#map {
  background-color: black;
  color: beige;
  height: 100%;
}

#play {
    background-color: black;
    height: 100%;
    color: beige;
    
}

/*placeholder för kort*/
p:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

#map {
    background-color: black;
    color: beige;
    height: 100%;
}

#settings {
    background-color: black;
    color: beige;
    height: 100%;
}

#chat{
  background-color: black;
  color: beige;
  height: 100%;
}

h3 {
  font-style: italic;
}


#playcard, .add-content {
  padding-top: 7px;
  text-align: center;
  background-color: black;
  background-image: url(./photos/pirate-map.jpg);
  background-size: cover;
  top: 30px;
  height: -webkit-fill-available;
}




#header{
    background-color: moccasin;
    font-weight: 300;
    }


#settingscontent {
    background-image: url("./photos/piratecard.jpg");

}

li{
    font-size: 30px;
}

h1 { 
    color: black;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cardtext {
    font-weight: bold;
    margin-left: 10%;
    width: 80%;
}


.play {
    background-image: url("./photos/piratecard.jpg");
}
#controlWrapper{

    position: absolute;
    background-color: rgba(249, 247, 241, 0.557);
    width: 300px;
    top:10px;
    left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%);
   
    box-shadow: 0 10px 10px 0 rgba(249, 247, 241, 0.557);
  }
  
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
   #googlemap{
       position: absolute;
       
    height: 100%;
    width: 100%;
  }

  .locationbuttons {
    
    position: absolute;
    top:10px;
    left:20px;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 10px;
    color: rgb(255, 243, 223);
    
    
  }

  .locationbutton{
    padding-left: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: (245, 245, 220, 0.801); /* Green */
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    padding-bottom: 10px;

  }
   .locationbutton:hover{
    background-color: rgba(129, 96, 35, 0.822);
  }
  
  .zoombuttons{
    position: absolute;
    bottom: 10px;
    
    left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%);
  }
   .zoombutton{
    text-decoration: none;
    display: -webkit-inline-box;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgba(245, 245, 220, 0.801);
    border: 1px solid black;
    color: black;
    padding: 5px 17px;
    text-align: center;
}
    
    
  
   .zoombutton:hover {
    background-color: rgba(129, 96, 35, 0.822);
  }
  
  .goFS{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center;
    float:left;
    
  
  
  }
  
  
  .exFS{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center;
    float:left;
  
  
  }
  
  
    #intro {
      text-align: center;
      line-height: 1;
    }
  
  
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 0.5s;
      animation-name: animatebottom;
      animation-duration: 0.5s
    }
    
    @-webkit-keyframes animatebottom {
      from { bottom:-100px; opacity:0 } 
      to { bottom:0px; opacity:1 }
    }
    
    @keyframes animatebottom { 
      from{ bottom:-100px; opacity:0 } 
      to{ bottom:0; opacity:1 }
    }
    
    #myDiv {
      display: none;
      text-align: center;
    }

    .mapdivider{
    position: relative;
    display: block;
    }

    .tabbar__icon{
      color: moccasin;
    }


    /* chat css */
    .chat-content{
      background-image: url(./photos/sea.jpg);
      background-size: cover;
    }



    ul{
      color: black;
      font-size: 10em;
      padding: 1rem;

    }
    ul li {
      list-style-type: none;
      position: relative;
      margin: 10px 0;
      line-height: 30px;
      background-color: rgba(255, 255, 255, 0.445);
      font-size: 18px;
      padding: 20px;
      border-radius: 8px;
    }
    ul li:hover {
    background-color: rgba(255, 228, 181, 0.589);
    }

    #messages{
      margin: 0;
    }

    /*toolbar*/
    ons-toolbar{
      color: beige;
    }
    
    #chat-form{
      text-align: center;
    padding-top: 25px;
    }


 .minas-button, .Locationbutton, #add-button {
      color: black;
      /* box-shadow: 0px 1px 0px 0px #1c1b18; */
      background: linear-gradient(to bottom, rgb(78, 183, 209) 5%, rgb(115, 186, 209) 100%);
      background-color: rgb(78, 183, 209);
      border-radius: 5px;
      border: 1px solid #333029;
      display: inline-block;
      cursor: pointer;
      font-family: Arial;
      font-size: 17px;
      font-weight: bold;
      padding: 3px 12px;
      text-decoration: none;
  }
.minas-button:hover, #add-button:hover {
    background:linear-gradient(to bottom, moccasin 5%, #eae0c2 100%);
    background-color:#ccc2a6;
  }
.minas-button:active, #add-button:active {
    position:relative;
    top:1px;
  }
  
#add-form{
  margin: 30px;
}