/* FIRST THREE STYLES SLIDE MENU*/

#sign-in {
  background-color: black;
  color: beige;
  height: 100%;
}

#map {
  background-color: black;
  color: beige;
  height: 100%;
}

#play {
    background-color: black;
    height: 100%;
    color: beige;
    
}

/*placeholder för kort*/
p:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

#map {
    background-color: black;
    color: beige;
    height: 100%;
}

#settings {
    background-color: black;
    color: beige;
    height: 100%;
}

#chat{
  background-color: black;
  color: beige;
  height: 100%;
}

h3 {
  font-style: italic;
}


#playcard {
    text-align: center;
    background-color: black;
    background-image: url("./photos/piratecard.jpg");
    background-size: cover;
    height: 100%;
    border-radius: 18px;
    border: 5px solid;
    height: 97%;
    top: 40px;

}


#header{
    background-color: limegreen;
    font-weight: 300;
    }


#settingscontent {
    background-image: url("./photos/piratecard.jpg");

}

li{
    font-size: 30px;
}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cardtext {
    font-weight: bold;
    margin-left: 10%;
    width: 80%;
}


.play {
    background-image: url("./photos/piratecard.jpg");
}
#controlWrapper{
    position: absolute;
    
    margin: 5px;
  }
  
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
   #googlemap{
       position: absolute;
       
    height: 100%;
    width: 100%;
  }

  .locationbuttons {
    
    position: absolute;
    top:10px;
    left:20px;
    
    
  }

  .locationbutton{
    padding-left: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: white; /* Green */
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    padding-bottom: 10px;

  }
   .locationbutton:hover{
    background-color: gray;
  }
  
  .zoombuttons{
    position: absolute;
    bottom: 10px;
    left:50%;
  }
   .zoombutton{
    padding-left: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: white; /* Green */
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    padding-bottom: 10px;
    
    
  }
  
   .zoombutton:hover {
    background-color: gray;
  }
  
  .goFS{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center;
    float:left;
    
  
  
  }
  
  
  .exFS{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center;
    float:left;
  
  
  }
  
  
    #intro {
      text-align: center;
      line-height: 1;
    }
  
  
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 0.5s;
      animation-name: animatebottom;
      animation-duration: 0.5s
    }
    
    @-webkit-keyframes animatebottom {
      from { bottom:-100px; opacity:0 } 
      to { bottom:0px; opacity:1 }
    }
    
    @keyframes animatebottom { 
      from{ bottom:-100px; opacity:0 } 
      to{ bottom:0; opacity:1 }
    }
    
    #myDiv {
      display: none;
      text-align: center;
    }

    .mapdivider{
    position: relative;
    display: block;
    }

    .tabbar__icon{
      color: moccasin;
    }


    /* chat css */
    .chat-content{
      background-image: url(./photos/sea.jpg);
      background-size: cover;
    }



    ul{
      color: black;
      font-size: 10em;
      padding: 1rem;

    }
    ul li {
      list-style-type: none;
      position: relative;
      margin: 10px 0;
      line-height: 30px;
      background-color: rgba(255, 255, 255, 0.445);
      font-size: 18px;
      padding: 20px;
      border-radius: 8px;
    }
    ul li:hover {
    background-color: rgba(255, 228, 181, 0.589);
    }

    #messages{
      margin: 0;
    }